#tx-table {
    max-height: 300px;
    overflow-y: scroll;
}

#pu-count {
  width: 60%
}

#pu-count p {
  font-size: 10vh;
  /* padding: 1px;
  margin: 1px;
  margin-block-start: 1px;
  margin-block-end: 1px; */
}

#pu-count-div {
  margin-bottom: 20px;
}

#row2 {
  margin: 5vw;
} 

.card {
  margin: 1vh;
  /* margin-bottom: 2vh; */
}

#card-add img {
  max-width: 128px;
}

.card-img-top {
  max-width: 720px;
  max-height: 720px;
  aspect-ratio: 1.0;
}
