#tx-table {
    max-height: 300px;
    overflow-y: scroll;
}

#pu-count-div {
  width: 60%
}

#pu-count-div p {
  font-size: 10vh;
  /* padding: 1px;
  margin: 1px;
  margin-block-start: 1px;
  margin-block-end: 1px; */
}

#col1-div{
  margin-bottom: 20px;
}

#row2 {
  margin: 5vw;
} 

.card {
  margin: 1vh;
  /* margin-bottom: 2vh; */
}


#card-add img {
  max-width: 128px;
}

.card-img-top {
  max-width: 720px;
  max-height: 720px;
  aspect-ratio: 1.0;
}

.card-text {
  font-size: 6vh;
}

.card-title {
  display: inline-block
}

.delete-user {
  font-size: 75%;
  color: red;
  margin: 0px;
}

#modal-close-btn {
  display: none;
}

.modal-header:hover #modal-close-btn {
  display: inline-block;
}

.delete-tx-img {
  width: 1vw;
  min-width: 24px;
  max-width: 48px;
  margin: 0px;
  padding: 0px;
}

.delete-tx-col {
  vertical-align: 'middle';
  width: 10%;
}

th {
  position: sticky;
  top: 0;  
}